<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Company">  
<!-- 검색 --> 
	<select id="selectSearch_Company" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_cars.factorys
        where 1 = 1 
        <choose>
            <when test="search == 'COMPANY_ID'">
            <![CDATA[
            and COMPANY_ID > #{words} 
            ]]>
            </when>
            <otherwise>
            and COMPANY like CONCAT(#{words}, '%')
            </otherwise>
        </choose>
        ;
	</select>

<!-- 전체 --> 
	<select id="selectAll_Company" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_cars.factorys
        where 1 = 1 
	</select>

<!-- 상세 --> 
	<select id="selectByUID_Company" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_cars.factorys
        where COMPANY_ID = #{COMPANY_ID} 
	</select>

<!-- 입력 -->
    <insert id="insert_Company" parameterType="Map">
        insert into db_cars.factorys
        (COMPANY_ID, COMPANY)
        values
        (#{COMPANY_ID}, #{COMPANY})
	</insert>

    
<!-- 수정 -->
    <update id="update_Company" parameterType="Map">
        update factorys
        set COMPANY = #{COMPANY}
        where COMPANY_ID = #{COMPANY_ID}
    </update>

<!-- 삭제 -->
    <delete id="delete_Company" parameterType="Map">
        delete from factorys
        where COMPANY_ID = #{COMPANY_ID}
    </delete>
</mapper>